@font-face { font-family: 'Metropolis-Light'; src: url('../fonts/Metropolis-Light.eot'); src: url('../fonts/Metropolis-Light.woff2') format('woff2'), url('../fonts/Metropolis-Light.woff') format('woff'), url('../fonts/Metropolis-Light.ttf') format('truetype'), url('../fonts/Metropolis-Light.svg#Metropolis-Light') format('svg'), url('../fonts/Metropolis-Light.eot?#iefix') format('embedded-opentype'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Metropolis-Bold'; src: url('../fonts/Metropolis-Bold.eot'); src: url('../fonts/Metropolis-Bold.woff2') format('woff2'), url('../fonts/Metropolis-Bold.woff') format('woff'), url('../fonts/Metropolis-Bold.ttf') format('truetype'), url('../fonts/Metropolis-Bold.svg#Metropolis-Bold') format('svg'), url('../fonts/Metropolis-Bold.eot?#iefix') format('embedded-opentype'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Metropolis-ExtraBold'; src: url('../fonts/Metropolis-ExtraBold.eot'); src: url('../fonts/Metropolis-ExtraBold.woff2') format('woff2'), url('../fonts/Metropolis-ExtraBold.woff') format('woff'), url('../fonts/Metropolis-ExtraBold.ttf') format('truetype'), url('../fonts/Metropolis-ExtraBold.svg#Metropolis-ExtraBold') format('svg'), url('../fonts/Metropolis-ExtraBold.eot?#iefix') format('embedded-opentype'); font-weight: normal; font-style: normal; }
body { margin: 0; }
#docContainer { width: 100%; max-width: 100% !important; margin: 0 !important; border: 0 !important; font-family: 'Metropolis-Light', sans-serif; font-size: 14px !important; line-height: 1.5 !important; color: #666 !important; }
#fb-form-header1 { height: 0 !important; min-height: 0 !important; }
#docContainer .column { padding: 0; text-align: center; }
#docContainer .fb-item { display: block; overflow: hidden; position: relative; width: auto; padding: 2px;	/* make sure box shadow isn't cut off */ }
#docContainer .fb-item.form-group,
#docContainer .form-group.fb-footer { width: 30%; display: inline-block; padding: 15px; vertical-align: top; }
.home-subscribe #docContainer .fb-item.form-group input { width: 100%; padding: 8px 10px; border: 1px solid #444; border-radius: 5px; font-size: 14px; height: 39px; }
#docContainer .fb-header h2 { display: block !important; margin: 16px 0 5px 0; line-height: 1; font-size: 30px; font-weight: 500; font-family: "Raleway", sans-serif; text-transform: uppercase; color: #333; }
#docContainer .fb-grouplabel { width: auto; padding: 0; margin: 0; margin-top: 15px; }
#docContainer .fb-grouplabel label {	/*fonts*/
line-height: 1.5; font-size: 14px; font-weight: bold !important; font-family: 'Metropolis-Light', sans-serif; color: #666; }
#docContainer .fb-checkbox label,
#docContainer .fb-radio label { margin: 1em 0 0.5em; }
#docContainer .fb-button,
#docContainer .fb-input-box,
#docContainer .fb-input-date,
#docContainer .fb-textarea,
#docContainer .fb-dropdown,
#docContainer .fb-listbox,
#docContainer .fb-checkbox,
#docContainer .fb-radio { width: auto; margin: 0; }
#docContainer .fb-button input,
#docContainer .fb-input-box input,
#docContainer .fb-input-date input,
#docContainer .fb-textarea textarea,
#docContainer .fb-dropdown select,
#docContainer .fb-listbox select { box-shadow: none; box-sizing: border-box; width: 100%; padding: 8px 10px; border: 1px solid #444; border-radius: 5px; font-size: 14px; height: 39px; }
#docContainer .fb-button input,
#docContainer .fb-dropdown select[multiple],
#docContainer .fb-listbox select,
#docContainer .fb-textarea textarea { height: auto; background-image: none; }
#docContainer .fb-textarea textarea { min-height: 90px; }
#docContainer .fb-input-box input:focus,
#docContainer .fb-textarea textarea:focus { border-color: #E67830; outline: 0; box-shadow: none; }
#docContainer input[type="radio"] { margin: 0.1em 0; }
#docContainer input[type="checkbox"] { margin: 0.2em 0; }
::-webkit-input-placeholder {	/* WebKit browsers */
opacity: 1; color: #495057; }
:-moz-placeholder {	/* Mozilla Firefox 4 to 18 */
opacity: 1; color: #495057; }
::-moz-placeholder {	/* Mozilla Firefox 19+ */
opacity: 1; color: #495057; }
:-ms-input-placeholder {	/* Internet Explorer 10+ */
opacity: 1; color: #495057; }
#fb-submit-button-div { height: auto; padding: 2px;	/* match padding on group label */ }
#fb-submit-button { display: inline-block; border-radius: 0; font-size: 1rem !important; text-transform: uppercase; text-shadow: none; cursor: pointer; background: transparent; color: #fff; -webkit-appearance: none; appearance: none; padding: 7px 12px; color: #fff; background-color: #E67830; font-family: 'Metropolis', sans-serif !important; text-transform: uppercase; border: none; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; margin-left: 0 !important; width: 100%; line-height: 1.5; }
#fb-submit-button:after { content: ">"; margin-left: 5px; }
#fb-submit-button:hover,
#fb-submit-button:focus,
#fb-submit-button:active { background-color: #6D7278; border-color: #6D7278; outline: none; box-shadow: none; }
#docContainer label.error { position: absolute; top: 4px; right: 5px; z-index: 1; width: auto !important; padding: 0 !important; color: red; }
.required { color: red; }
@media (max-width:991px) {
	#docContainer .fb-item.form-group,
	#docContainer .form-group.fb-footer { padding: 0px; width: 32%; }
}
@media (max-width:719px) {
	#docContainer .fb-item.form-group,
	#docContainer .form-group.fb-footer { padding: 10px 0; width: 100%; max-width: 500px; }
}