@font-face { font-family: 'Metropolis-Light'; src: url('../fonts/Metropolis-Light.eot'); src: url('../fonts/Metropolis-Light.woff2') format('woff2'), url('../fonts/Metropolis-Light.woff') format('woff'), url('../fonts/Metropolis-Light.ttf') format('truetype'), url('../fonts/Metropolis-Light.svg#Metropolis-Light') format('svg'), url('../fonts/Metropolis-Light.eot?#iefix') format('embedded-opentype'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Metropolis-Bold'; src: url('../fonts/Metropolis-Bold.eot'); src: url('../fonts/Metropolis-Bold.woff2') format('woff2'), url('../fonts/Metropolis-Bold.woff') format('woff'), url('../fonts/Metropolis-Bold.ttf') format('truetype'), url('../fonts/Metropolis-Bold.svg#Metropolis-Bold') format('svg'), url('../fonts/Metropolis-Bold.eot?#iefix') format('embedded-opentype'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Metropolis-ExtraBold'; src: url('../fonts/Metropolis-ExtraBold.eot'); src: url('../fonts/Metropolis-ExtraBold.woff2') format('woff2'), url('../fonts/Metropolis-ExtraBold.woff') format('woff'), url('../fonts/Metropolis-ExtraBold.ttf') format('truetype'), url('../fonts/Metropolis-ExtraBold.svg#Metropolis-ExtraBold') format('svg'), url('../fonts/Metropolis-ExtraBold.eot?#iefix') format('embedded-opentype'); font-weight: normal; font-style: normal; }
body { margin: 0; }
#docContainer { width: 100%; max-width: 100% !important; margin: 0 !important; border: 0 !important; font-family: 'Metropolis-Light', sans-serif; font-size: 14px !important; line-height: 1.5 !important; color: #666 !important; }
#fb-form-header1 { height: 0 !important; min-height: 0 !important; }
#docContainer .column { padding: 0; }
#docContainer .fb-item { display: block !important; overflow: hidden; position: relative; width: auto !important; padding: 2px !important;	/* make sure box shadow isn't cut off */ }
#docContainer .fb-item.form-group { margin-bottom: 1rem; }
#docContainer .fb-header h2 { display: block !important; margin: 16px 0 5px 0; line-height: 1; font-size: 30px; font-weight: 500; font-family: "Raleway", sans-serif; text-transform: uppercase; color: #333; }
#docContainer .fb-grouplabel { width: auto; padding: 0; margin: 0; margin-top: 15px; }
#docContainer .fb-grouplabel label {	/*fonts*/
line-height: 1.5; font-size: 14px; font-weight: bold !important; font-family: 'Metropolis-Light', sans-serif; color: #666; }
#docContainer .fb-checkbox label,
#docContainer .fb-radio label { margin: 1em 0 0.5em; }
#docContainer .fb-button,
#docContainer .fb-input-box,
#docContainer .fb-input-date,
#docContainer .fb-textarea,
#docContainer .fb-dropdown,
#docContainer .fb-listbox,
#docContainer .fb-checkbox,
#docContainer .fb-radio { width: auto; margin: 0; }
#docContainer .fb-button input,
#docContainer .fb-input-box input,
#docContainer .fb-input-date input,
#docContainer .fb-textarea textarea,
#docContainer .fb-dropdown select,
#docContainer .fb-listbox select { font-family: 'Metropolis-Light', sans-serif; font-size: 14px; box-shadow: none; box-sizing: border-box; border: 1px solid #fff; color: #fff; height: 43px; background-color: transparent; border-radius: 5px; width: 100%; padding: 12px; }
#docContainer .fb-button input,
#docContainer .fb-dropdown select[multiple],
#docContainer .fb-listbox select,
#docContainer .fb-textarea textarea { height: auto; background-image: none; }
#docContainer .fb-textarea textarea { min-height: 120px; resize: none; }
#docContainer .fb-input-box input:focus,
#docContainer .fb-textarea textarea:focus { outline: 0; box-shadow: none; }
#docContainer input[type="radio"] { margin: 0.1em 0; }
#docContainer input[type="checkbox"] { margin: 0.2em 0; }
::-webkit-input-placeholder {	/* WebKit browsers */
opacity: 1; color: #fff; }
:-moz-placeholder {	/* Mozilla Firefox 4 to 18 */
opacity: 1; color: #fff; }
::-moz-placeholder {	/* Mozilla Firefox 19+ */
opacity: 1; color: #fff; }
:-ms-input-placeholder {	/* Internet Explorer 10+ */
opacity: 1; color: #fff; }
#fb-submit-button-div { height: auto !important; padding: 2px !important;	/* match padding on group label */ }
#fb-submit-button { display: inline-block; border-radius: 0; text-transform: uppercase; text-shadow: none; cursor: pointer; -webkit-appearance: none; appearance: none; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; min-width: 140px; height: 39px; background-color: #fff; color: #E67830; font-size: 14px; border-color: transparent; text-transform: uppercase; font-weight: 600; line-height: 1; border-radius: 5px; }
#fb-submit-button:hover,
#fb-submit-button:focus,
#fb-submit-button:active { text-decoration: none; background-color: #6D7278; box-shadow: none; outline: none; }
#docContainer label.error { position: absolute; top: 4px; right: 5px; z-index: 1; width: auto !important; padding: 0 !important; color: red; }
.required { color: red; }
