<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="google-site-verification" content="YbH_HOEdIoLZctymytjqZBBOC1V92zzaYaN3rCEyb3I" />
<meta property="image" content="/media/resourceful-recruitment-20/images/logo-og.png" />

<link rel="image_src" href="/media/resourceful-recruitment-20/images/logo-og.png" />
<link rel="shortcut icon" href="/media/resourceful-recruitment-20/images/favicon.ico" />
<link rel="mask-icon" href="/media/resourceful-recruitment-20/images/website_icon.svg" />
<link rel="icon" href="/media/resourceful-recruitment-20/images/nice.png" />
<link rel="icon" href="/media/resourceful-recruitment-20/images/niceicon.png" />
<link rel="apple-touch-icon" href="/media/resourceful-recruitment-20/images/niceicon.png" />
<link rel="apple-touch-icon" href="/media/resourceful-recruitment-20/images/apple-touch-114x114.png" />
<link rel="apple-touch-icon" href="/media/resourceful-recruitment-20/images/touch-icon-iphone.png" />
<link rel="apple-touch-icon" href="/media/resourceful-recruitment-20/images/touch-icon-ipad.png" />
<link rel="apple-touch-icon" href="/media/resourceful-recruitment-20/images/touch-icon-ipad-retina.png" />
<link rel="apple-touch-icon" href="/media/resourceful-recruitment-20/images/touch-icon-iphone-retina.png" />


<link rel="manifest" href="/media/resourceful-recruitment-20/js/manifest.json?v=1">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">


<link
    href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/media/resourceful-recruitment-20/css/r15-icons.css" />
<link rel="stylesheet" href="/media/resourceful-recruitment-20/css/bootstrap.min.css">
<link rel="stylesheet" href="/media/resourceful-recruitment-20/css/slick.css" />

<script src='/media/resourceful-recruitment-20/js/bootstrap.min.js'></script>


<link rel="stylesheet" href="/media/resourceful-recruitment-20/css/style.css?v=1.2" />
<script src='/media/resourceful-recruitment-20/js/myjs.js'></script>


<style>
    @font-face {
        font-family: 'Metropolis';
        src: url('/fonts/Metropolis/Metropolis-Light.eot');
        src: url('/fonts/Metropolis/Metropolis-Light.eot?#iefix') format('embedded-opentype'),
            url('/fonts/Metropolis/Metropolis-Light.woff') format('woff'),
            url('/fonts/Metropolis/Metropolis-Light.woff2') format('woff2'),
            url('/fonts/Metropolis/Metropolis-Light.ttf') format('truetype'),
            url('/fonts/Metropolis/Metropolis-Light.svg#Gotham-Bold') format('svg');
        font-weight: 300;
        font-style: normal;
    }

    @font-face {
        font-family: 'Metropolis';
        src: url('/fonts/Metropolis/Metropolis-Regular.eot');
        src: url('/fonts/Metropolis/Metropolis-Regular.eot?#iefix') format('embedded-opentype'),
            url('/fonts/Metropolis/Metropolis-Regular.woff') format('woff'),
            url('/fonts/Metropolis/Metropolis-Regular.woff2') format('woff2'),
            url('/fonts/Metropolis/Metropolis-Regular.ttf') format('truetype'),
            url('/fonts/Metropolis/Metropolis-Regular.svg#Gotham-Bold') format('svg');
        font-style: normal;
        font-weight: normal;
    }

    @font-face {
        font-family: "Metropolis";
        src: url("/fonts/Metropolis/Metropolis-Bold.eot");
        src: url("/fonts/Metropolis/Metropolis-Bold.eot?#iefix") format("embedded-opentype"),
            url("/fonts/Metropolis/Metropolis-Bold.woff2") format("woff2"), url("/fonts/Metropolis/Metropolis-Bold.woff") format("woff"),
            url("/fonts/Metropolis/Metropolis-Bold.ttf") format("truetype"),
            url("/fonts/Metropolis/Metropolis-Bold.svg#Metropolis-Bold") format("svg");
        font-weight: 900;
        font-style: normal;
    }

    @font-face {
        font-family: "Metropolis";
        src: url("/fonts/Metropolis/Metropolis-Medium.eot");
        src: url("/fonts/Metropolis/Metropolis-Medium.eot?#iefix") format("embedded-opentype"),
            url("/fonts/Metropolis/Metropolis-Medium.woff2") format("woff2"), url("/fonts/Metropolis/Metropolis-Medium.woff") format("woff"),
            url("/fonts/Metropolis/Metropolis-Medium.ttf") format("truetype"),
            url("/fonts/Metropolis/Metropolis-Medium.svg#Metropolis-Light") format("svg");
        font-weight: 500;
        font-style: normal;
    }
</style>

<script>
    // temp fix to hide Apply With LinkedIn and other social buttons if the job is linkout
    $(document).ready(function () {
        if ($('#job-dynamic-container').length) {
            var str = $(".apply-now-link a").attr('href');
            if (str.indexOf('applyjob') >= 0) {
                $('#social-apply-wrapper').show();
            } else {
                $('#social-apply-wrapper').hide();
            }
        }
    })

</script>