@font-face { font-family: 'Metropolis-Light'; src: url('../fonts/Metropolis-Light.eot'); src: url('../fonts/Metropolis-Light.woff2') format('woff2'), url('../fonts/Metropolis-Light.woff') format('woff'), url('../fonts/Metropolis-Light.ttf') format('truetype'), url('../fonts/Metropolis-Light.svg#Metropolis-Light') format('svg'), url('../fonts/Metropolis-Light.eot?#iefix') format('embedded-opentype'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Metropolis-Bold'; src: url('../fonts/Metropolis-Bold.eot'); src: url('../fonts/Metropolis-Bold.woff2') format('woff2'), url('../fonts/Metropolis-Bold.woff') format('woff'), url('../fonts/Metropolis-Bold.ttf') format('truetype'), url('../fonts/Metropolis-Bold.svg#Metropolis-Bold') format('svg'), url('../fonts/Metropolis-Bold.eot?#iefix') format('embedded-opentype'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Metropolis-ExtraBold'; src: url('../fonts/Metropolis-ExtraBold.eot'); src: url('../fonts/Metropolis-ExtraBold.woff2') format('woff2'), url('../fonts/Metropolis-ExtraBold.woff') format('woff'), url('../fonts/Metropolis-ExtraBold.ttf') format('truetype'), url('../fonts/Metropolis-ExtraBold.svg#Metropolis-ExtraBold') format('svg'), url('../fonts/Metropolis-ExtraBold.eot?#iefix') format('embedded-opentype'); font-weight: normal; font-style: normal; }
body { margin: 0; }
#docContainer { width: 100%; max-width: 100% !important; margin: 0 !important; border: 0 !important; font-family: 'Metropolis-Light', sans-serif; font-size: 14px !important; line-height: 1.5 !important; color: #666 !important; }
select::-ms-expand { display: none; }
select { -webkit-appearance: none; appearance: none; padding-right: 40px !important; background-image: url(../images/down-arrow-black.png) !important; background-position: 98% center; background-repeat: no-repeat; }
#fb-form-header1 { height: 0 !important; min-height: 0 !important; }
#docContainer .column { padding: 0; }
#docContainer .fb-item { display: block !important; overflow: hidden; position: relative; width: auto !important; padding: 2px 2px 0 !important;	/* make sure box shadow isn't cut off */ margin-bottom: 1rem; }
#docContainer .fb-header h2 { display: block !important; margin: 16px 0 5px 0; line-height: 1; font-size: 24px; font-weight: 500; font-family: "Metropolis", sans-serif; color: #333; }
#docContainer .fb-grouplabel { width: auto; padding: 0; margin: 0; margin-top: 15px; }
#docContainer .fb-grouplabel label {	/*fonts*/
line-height: 1.5; font-size: 14px; font-weight: bold !important; font-family: 'Metropolis-Light', sans-serif; color: #666; }
#docContainer .fb-checkbox label,
#docContainer .fb-radio label { margin: 1em 0 0.5em; }
#docContainer .fb-button,
#docContainer .fb-input-box,
#docContainer .fb-input-date,
#docContainer .fb-textarea,
#docContainer .fb-dropdown,
#docContainer .fb-listbox,
#docContainer .fb-checkbox,
#docContainer .fb-radio { width: auto; margin: 0; }
#docContainer .fb-button input,
#docContainer .fb-input-box input,
#docContainer .fb-input-date input,
#docContainer .fb-textarea textarea,
#docContainer .fb-dropdown select,
#docContainer .fb-listbox select { font-family: 'Metropolis-Light', sans-serif; box-shadow: none; box-sizing: border-box; height: 45px; border-radius: 5px; border: 1px solid #fff; font-size: 16px; display: block; width: 100%; color: #333333; padding: 12px; }
select { -webkit-appearance: none; -moz-appearance: none; background-image: url(../images/down.png) !important; background-repeat: no-repeat !important; background-position: 98% center !important; }
#docContainer .fb-button input,
#docContainer .fb-dropdown select[multiple],
#docContainer .fb-listbox select,
#docContainer .fb-textarea textarea { height: auto; background-image: none; }
#docContainer .fb-textarea textarea { min-height: 90px; }
#docContainer .fb-input-box input:focus,
#docContainer .fb-textarea textarea:focus,
#docContainer .fb-dropdown select:focus { border-color: #E67830; outline: 0; box-shadow: none; }
#docContainer input[type="radio"] { margin: 0.1em 0; }
#docContainer input[type="checkbox"] { margin: 0.2em 0; }
::-webkit-input-placeholder {	/* WebKit browsers */
opacity: 1; color: #000000; }
:-moz-placeholder {	/* Mozilla Firefox 4 to 18 */
opacity: 1; color: #000000; }
::-moz-placeholder {	/* Mozilla Firefox 19+ */
opacity: 1; color: #000000; }
:-ms-input-placeholder {	/* Internet Explorer 10+ */
opacity: 1; color: #000000; }
#fb-submit-button-div { height: auto !important; padding: 2px !important;	/* match padding on group label */ }
#fb-submit-button-div.submit-form { width: 50%; }
#fb-submit-button { font-family: 'Metropolis-Bold', sans-serif !important; text-transform: uppercase; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; font-size: 16px; width: 100%; background-color: #fff; border: 1px solid #E67830; border-radius: 5px; height: 40px; font-weight: 700; text-transform: uppercase; color: #E67830; line-height: 1; padding: 7.5px 10px; min-width: 240px; }
#fb-submit-button:hover,
#fb-submit-button:focus,
#fb-submit-button:active { text-decoration: none; background: #E67830; color: #fff; box-shadow: none; outline: none; }
#docContainer label.error { position: absolute; top: 4px; right: 5px; z-index: 1; width: auto !important; padding: 0 !important; color: red; }
.required { color: red; }
