@charset "utf-8";
/* CSS Document */
@media (max-width:1400px) {
.strapslide .background-white { padding-top: 5% !important; }
}
@media (max-width:1200px) {
.blog-section .blog-info { width:78%; }
.strapslide .background-white { padding-top: 5% !important; }
.strapslide .background-white h2 { font-size: 25px !important; line-height: 25px; border-width: 5px !important; }
.section-intro-contain { width:  auto; padding: 48px 0 58px; }
.section-service { padding: 40px 0; }
.blog-section { padding: 48px 0; }
#moreinfo { padding-bottom: 5em; }
.navbar-brand { padding-top: 0; }
.navbar-header { /*padding-bottom: 20px;*/}
.navbar-nav { margin-top: 35px; }
.caret { border-width: 10px; position: relative; top: 0; }
    
}
@media (max-width:992px) {
.navbar-nav { margin-top:0; }
.navbar-toggle { background:#f58025; }
#dynamic-container, #content-container, #job-dynamic-container { padding-top: 6em; }
    
}
@media (max-width:900px) {
.strapslide #SlideText3 .background-white { padding-top: 10% !important; }
#disclaimer #site-social { float:none !important; text-align:center; }
.strapslide .background-white h2 { font-size: 16px !important; line-height: 16px; border-width: 2px;  }
.navbar-brand { width: 220px; padding-top: 20px; }
.navbar-brand img { width: 100%; }
.section-intro-contain  { padding: 10px 0 25px; font-size: 14px; line-height: 22px; }
.section-intro-contain h2 { font-size: 26px; }
.section-intro-contain:before { bottom: 5px; }
.section-service h2 { font-size: 30px;line-height: 30px;}
.section-service P { margin-bottom:30px; }
.styled-desc { font-size: 16px; line-height: 24px; }
.section-service { padding: 25px 0; }
.blog-section .date { width: 85px; }
.blog-section .blog-info { width: 100%; display:block; }
#moreinfo { padding: 2em 0; }
.caret { top: 0; }
.blog-section .col-md-6 { width:48%; display:inline-block; }
.section-intro-contain h1 { font-size:30px; }
.section-intro-contain h1 span { font-size:24px; }


}
@media (max-width:480px) {
.blog-section .col-md-6 { width:100%; display:block; }	
}