@charset "utf-8";
/* CSS Document */

a {
    color: #ff931e;
}

.phoneTop {
    background: none;
    color: #666868;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    padding-top: 12px;
}

.phoneTop a {
    color: #666868;
    margin-left: 5px;
}

.phoneTop a:hover {
    color: #f58025;
}

.rpo-header .phoneTop a:hover {
    color: #98cb4c;
}

.navbar-brand {
    padding-top: 16px;
}

#site-social {
    margin-top: 45px;
}

.list-inline>li {
    padding-left: 1px;
}

#site-social li a i {
    border-color: #666868;
}

#site-social li a {
    color: #666868;
    text-transform: lowercase;
}

#site-social li a:hover {
    color: #f58025;
}

#site-social li a:hover i {
    border-color: #f58025;
}

.rpo-header #site-social li a:hover,
.rpo-footer #site-social li a:hover {
    color: #98cb4c;
}

.rpo-header #site-social li a:hover i,
.rpo-footer #site-social li a:hover i {
    border-color: #98cb4c;
}

.navbar .nav>li>a {
    font-size: 15px;
    color: #666868;
    padding: 11px 0;
    border-top: solid 2px #ffffff;
}

.navbar-nav>li {
    margin-left: 10px;
}

.navbar .nav>li:hover>a,
.navbar .nav>.active>a,
.navbar .nav>.active>a:hover,
.navbar .nav>.active>a:focus,
.navbar .nav>li a.topnav-active {
    color: #f58025;
    border-top: solid 2px #f58025;
}

.rpo-header .navbar .nav>li:hover>a,
.rpo-header .navbar .nav>.active>a,
.rpo-header .navbar .nav>.active>a:hover,
.rpo-header .navbar .nav>.active>a:focus,
.rpo-header .navbar .nav>li a.topnav-active {
    color: #98cb4c;
    border-top: solid 2px #98cb4c;
}

.rpo-header .topnav-active .navbar .nav>.active>a {
    font-weight: bold;
}

.navbar .nav li.dropdown li a:hover {
    background: #f58025;
}

.rpo-header .navbar .nav li.dropdown li a:hover {
    background: #98cb4c;
}

#site-social li#memberStatusDashLogin {
    border-right: solid 1px #666868;
    padding-right: 7px;
    margin-right: 3px;
    margin-left: 14px;
}

.navbar-wrapper {
    padding-bottom: 4px;
}

.strapslide-pagination {
    padding-left: 0;
    top: 50% !important;
    margin-top: -25px !important;
}

.strapslide-pagination li {
    margin: 0 0 8px !important;
}

.strapslide-pagination li a {
    background: #cccccc !important;
    width: 10px !important;
    height: 10px !important;
}

.strapslide-pagination li.active a,
.strapslide-pagination li a:hover {
    background: #333333 !important;
}

.strapslide-pagination .col-md-offset-12 {
    margin-left: 97.5%;
}

.strapslide .background-white {
    background: none !important;
    padding: 18% 0 0 0 !important;
}

.strapslide .background-white h2 {
    color: #fbfcfd;
    font-size: 40px !important;
    line-height: 40px;
    border: solid 9px #fbfcfd !important;
    font-weight: bold;
    display: inline-block !important;
    padding: 15px 20px 20px;
}

.strapslide #SlideText3 .background-white {
    padding-top: 6% !important;
}

.strapslide #SlideText3 .background-white h2 {
    text-align: left;
}

#btn-widget-search {
    background: #f58025;
}

#btn-widget-search i.fa {
    display: none;
}

#widget-search select {
    width: 100%;
}

#widget-search .custom-select:before {
    color: #666868;
}

#widget-search select,
#widget-search input[type="text"] {
    color: #666868;
}

#disclaimer {
    padding-top: 7px;
}

#disclaimer .list-inline {
    text-align: right;
    margin-bottom: 4px;
}

#moreinfo {
    background: #333333;
    color: #b3b3b3;
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 9em;
}

#moreinfo .foo-qlinks a i {
    padding-right: 15px;
}

#moreinfo .row {
    margin: 0;
}

.footer-logo {
    margin-bottom: 35px;
}

.footer-logo,
.footer-logo img {
    width: 100%;
}

#moreinfo .foo-info h3 {
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
}

#moreinfo .foo-info h4 {
    font-size: 13px;
    line-height: 14px;
    color: #b3b3b3;
    font-weight: bold;
    margin-bottom: 4px;
    margin-top: 5px;
}

#moreinfo .foo-info h4 span {
    font-weight: normal;
    float: right;
    padding-right: 10px;
}

.small-logo {
    float: left;
    margin-right: 12px;
    margin-bottom: 12px;
}

.letest-news {
    font-size: 15px;
    line-height: 18px;
}

#moreinfo .foo-info a {
    font-size: 14px;
    line-height: 18px;
}

#moreinfo .foo-info a:hover,
#moreinfo .foo-info a:hover i {
    color: #ffffff;
}

.grey-logo {
    background: url(../images/grey-logo.png) no-repeat 0 0;
    width: 28px;
    height: 28px;
    display: inline-block;
    margin-right: 10px;
    opacity: 0.6;
}

#moreinfo .foo-info a:hover i.grey-logo {
    opacity: 1;
}

.crsl-item a figcaption {
    font-size: 22px;
    line-height: 22px;
    color: #333333;
    font-weight: 400;
    height: auto;
    position: relative;
}

.crsl-item a figcaption:after {
    border-color: #f58025;
    top: 0;
    bottom: inherit;
}

.crsl-item a:hover figcaption:before {
    border-bottom: 4px solid #f58025;
    bottom: 0;
    content: '';
    left: 25%;
    right: 25%;
    position: absolute;
    width: 50%;
}

.btn-primary {
    border-color: #f58025;
    font-weight: 400;
}

.btn-primary:hover,
.btn-primary:focus {
    border-color: #f58025;
    background-color: #f58025;
}

.crsl-nav a {
    border: solid 3px #f58025;
    line-height: 30px;
}

.crsl-nav a:hover {
    border: solid 3px #333333;
}

#disc-links {
    color: #666868;
}

#disc-links a {
    color: #666868;
}

.list-unstyled li {
    margin-bottom: 9px;
}

.section-service {
    background: url(../images/our-services-bg.jpg) 50% 50% no-repeat;
    background-attachment: inherit;
    color: #333333;
    padding-top: 60px;
    padding-bottom: 79px;
}

.styled-desc {
    font-size: 18px;
    line-height: 26px;
}

.section-service h2 {
    color: #333333;
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    margin-bottom: 8px;
}

.section-service P {
    margin-bottom: 2px;
}

.outline-outward:before {
    border: solid 2px #f58025;
}

.h-qlinks a {
    padding: 36px 0 22px;
    font-size: 22px;
    color: #333;
}

.h-qlinks a i {
    font-size: 40px;
    margin-bottom: 14px;
    display: block;
    line-height: 40px;
}

.h-qlinks a br {
    display: none;
}

.h-qlinks a i.fa-pencil {
    font-size: 46px;
}

.blog-section {
    padding: 48px 0 95px 0;
    background: #FFF;
}

.blog-section .title {
    color: #666868;
    margin-bottom: 8px;
    display: block;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
}

.blog-section a:hover {
    text-decoration: none;
}

.blog-section a:hover .title {
    color: #f27321;
}

.blog-section .name {
    font-size: 18px;
    color: #333333;
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
}

.blog-section .name i {
    font-size: 14px;
    color: #333333;
    margin-right: 5px;
}

.blog-section a:hover .name,
.blog-section a:hover .name i {
    color: #333333;
    text-decoration: none;
}

.blog-section p {
    color: #666868;
    line-height: 23px;
    letter-spacing: 0.5px;
    font-size: 15px;
}

.blog-section .date {
    display: inline-block;
    width: 15%;
    border: 2px solid #f58025;
    padding: 20px 0px;
    text-align: center;
    margin-right: 28px;
    vertical-align: top;
    margin-top: 16px;
}

.blog-section .blog-info {
    width: 79%;
    display: inline-block;
    vertical-align: top;
    padding-top: 6px;
}

.blog-section .date span {
    display: block;
    font-size: 20px;
    line-height: 20px;
    color: #333333;
}

.section-intro-contain {
    text-align: left;
    font-size: 18px;
    line-height: 26px;
    color: #666868;
    width: 100%;
    margin: 0 auto;
    padding: 63px 0 77px;
    position: relative;
}

.section-intro-contain h1 {
    font-size: 40px;
}

.section-intro-contain h1 span {
    font-size: 34px;
}

.section-intro-contain h2 {
    font-size: 30px;
    font-weight: 400;
}

.section-intro-contain p {
    padding-bottom: 15px;
}

.paddingTopBottom {
    padding: 20px 0;
}

.section-intro-contain:before {
    content: "";
    width: 176px;
    height: 1px;
    background: #f6f6f6;
    display: block;
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.progress {
    margin-top: 18px;
}

.progress-bar {
    background-color: #c6c3be !important;
}

.meet-team .staff-holder h3 span,
.dynamic-content-holder h1:first-letter,
.meet-team .staff-holder #site-social li a i,
.content-holder h1:first-letter,
#content h1::first-letter {
    color: #f58025;
}

.rpo-content h1:first-letter,
.rpo-content a {
    color: #98cb4c;
}

.meet-team .staff-holder #site-social li a i,
.meet-team .staff-holder img {
    border-color: #f58025;
}

.meet-team .staff-holder #site-social li a:hover i {
    opacity: 0.8;
}

#prefix_left-navigation ul li ul li.active>a {
    color: #333333;
}

.etimesheet-link-img {
    display: block;
    margin: 0px auto 20px auto;
    width: 370px;
    padding: 5px;
    border: 1px solid #f58025;
}